<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base_layout}">
  <title>Staff</title>
</head>
<body>

  <div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <a href="/staff/">Trang đầu</a>&nbsp;&nbsp;
                  <a href="/staff/add">Thêm mới</a><br>
                <ul>
                  <li th:each="staff: ${staffs}">
                    <a href="@{/staff/{id}(id=${staff.id})}"><strong th:text ="${staff.firstName}"></strong><br></a>
                    <p th:text ="${staff.lastName}"></p><br>
                    <p th:text ="${staff.emailId}"></p><br>
                    <p th:text ="${staff.passportNumber}"></p><br>
                  </li>
                </ul>
                </div>
            </div>
        </div>
    </section>
</div>
   
</body>
</html>