<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base_layout}">
  <title th:text="${staff.firstName}"></title>
</head>
<body>
  <div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                  <h2 th:text="${staff.firstName}"></h2><br>
                  <p th:text="${staff.lastName}"></p><br>
                  <p th:text="${staff.emailId}"></p><br>
                  <p th:text="${staff.passportNumber}"></p><br>
                  <a th:href="@{/staff/edit/{id}(id=${staff.id})}">Edit Staff</a>
                  <a th:href="@{/book/delete/{id}(id=${staff.id})}">Delete Staff</a><br>
                </div>
            </div>
        </div>
    </section>
</div>
  
</body>
</html>